* {
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card-wrap {
  margin: auto;
  padding: 1rem;
  background-color: whitesmoke;
  max-width: 320px;
  border-radius: 5%;
}

.subtitle-text {
  padding: 1rem;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.description-text {
  padding: 0.5rem 1rem 3rem;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

.card-footer {
  width: 100%;
  height: 10%;
}

img {
  width: 100%;
  border-radius: 5%;
}
